<div class="container-fluid">
    <div class="row-fluid">
        <section class="content-header" style="padding: 15px;">
            <div class="title-brand">
                <span id="root-title">{{'PRODUCT_MANAGEMENT'|translate|uppercase}}</span> / <span class="child-title">{{'SERIAL_NUMBER'|translate}}</span>
                <div class="pull-right">
                    <a ng-click="exportFile('ALL')" tooltip-placement="top" uib-tooltip="{{'EXPORT_ALL_PAGE'|translate}}"><img src="images/export_all.png" alt="export all" class="export-file"></a>
                    <a ng-click="exportFile('CURRENT')" tooltip-placement="top" uib-tooltip="{{'EXPORT_CURRENT_PAGE'|translate}}"><img src="images/export_current_page.png" alt="export current" class="export-file"></a>
                </div>
            </div>
        </section>
        <div class="content">

            <!-- Serial Number Search -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <form class="form-inline" role="form" ng-switch="searchModel.category" ng-submit="searchLicenseByCategory(searchModel)">

                                <div class="form-group">
                                    <label class="control-label" for="selectcategory">{{'SEARCH_BY'|translate}} : </label>
                                </div>

                                <select id="selectcategory" class="form-control" ng-model="searchModel.category" required="required" ng-change="resetSearchModel()">
                                    <option value="sn" selected>{{'SERIAL_NUMBER'|translate}}</option>
                                    <option value="school">{{'SCHOOL_NAME'|translate}}</option>
                                    <option value="date">{{'CREATED_DATE'|translate}}</option>
                                </select>

                                <div class="form-group" ng-switch-default>
                                    <input type="text" class="form-control" placeholder="{{(searchModel.category === 'serial'?'SEARCH_SN':'SEARCH_SCHOOL')|translate}}" ng-model="searchModel.searchText" required>
                                </div>

                                <div class="form-group" ng-switch-when="date">
                                    <input class="form-control" type="text" name="star_date" id="start_date" ng-model="searchModel.startDate" placeholder="DD/MM/YYYY" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_" required>
                                    <input class="form-control" type="text" name="end_date" id="end_date" ng-model="searchModel.endDate" placeholder="DD/MM/YYYY" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_" required>
                                </div>


                                <button type="submit" class="btn btn-primary" title="{{'SEARCH'|translate}}"><i class="fa fa-search fa-fw" aria-hidden="true"></i></button>
                            </form>

                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 txt-right">
                            <ul uib-pagination direction-links="false" total-items="totalItem" ng-model="searchModel.page" num-pages="smallnumPages" max-size="maxSize" items-per-page="itemPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="searchLicenseByCategory(searchModel)"></ul>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-12 col-sm-12 col-lg-12">
                <table st-safe-src="rowCollection" st-table="displayCollection" class="table table-striped" ng-switch="displayCollection.length">
                    <thead>
                        <tr>
                            <th width="50">No.</th>
                            <th st-sort="serialNumber.license">{{'SERIAL_NUMBER' | translate}}</th>
                            <th st-sort="serialNumber.productName">{{'PRODUCT_NAME' | translate}}</th>
                            <th st-sort="serialNumber.numberOfClient">{{'NUMBER_CLIENT' | translate}}</th>
                            <th st-sort="serialNumber.schoolName">{{'SCHOOL_NAME' | translate}}</th>
                            <th st-sort="serialNumber.createdDate">{{'CREATED_DATE' | translate}}</th>
                            <th st-sort="licenseStatus">{{'LICENSE_STATUS' | translate}}</th>
                            <th width="100"></th>
                        </tr>

                    </thead>
                    <tbody ng-switch-default>
                        <tr ng-repeat="row in displayCollection track by $index">
                            <td>{{(searchModel.page-1)*itemPage+$index+1}}</td>
                            <td>{{row.serialNumber.license}}</td>
                            <td>{{row.serialNumber.productName}}</td>
                            <td>{{row.serialNumber.numberOfClient}}</td>
                            <td>{{row.serialNumber.schoolName}}</td>
                            <td>{{row.serialNumber.createdDate |date:"dd/MM/yyyy"}}</td>
                            <td ng-switch="row.status">
                                <span uib-tooltip="License already generated" tooltip-placement="bottom" tooltip-trigger="'mouseenter'" ng-switch-when="0"><img src="images/Generated.png"
                                                                                             class="license-status"/></span>
                                <span uib-tooltip="License already registered" tooltip-placement="bottom" tooltip-trigger="'mouseenter'" ng-switch-when="1"><img src="images/Registered.png"
                                                                                             class="license-status"/></span>
                                <span uib-tooltip="License already activated" tooltip-placement="bottom" tooltip-trigger="'mouseenter'" ng-switch-when="2"><img src="images/Activated.png"
                                                                                             class="license-status"></span>
                                <span uib-tooltip="License have a problem" tooltip-placement="bottom" tooltip-trigger="'mouseenter'" ng-switch-when="3"><img src="images/Problem.png"
                                                                                             class="license-status"></span>
                                <span uib-tooltip="License already disabled" tooltip-placement="bottom" tooltip-trigger="'mouseenter'" ng-switch-when="4"><img src="images/Disabled.png"
                                                                                             class="license-status"></span>
                            </td>
                            <td width="25">
                                <a ui-sref="administrator.license.license-detail({licenseId:row.serialNumber.id})">
                                    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>

                    <tbody ng-switch-when="0">
                        <tr>
                            <td colspan="8" class="data-not-found">
                                {{'DATA_NOT_FOUND'|translate}}
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>

</div>