<div class="container-fluid">
    <div class="row-fluid">
        <section class="content-header" style="padding:15px">
            <div class="title-brand">
                <span id="root-title">{{'PRODUCT_MANAGEMENT'|translate|uppercase}}</span> / <span class="child-title">{{'PRODUCT'|translate}}</span>
            </div>
        </section>
        <section class="content">
            <form class="form-horizontal" id="registerForm" name="registerForm" ng-submit="submitProductForm(productDto)">
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-4 col-sm-4 col-sm-offset-1" for="productName">{{"PRODUCT_NAME" |translate}}</label>
                    <div class="col-lg-6 col-md-7 col-sm-7">
                        <input type="text" class="form-control" id="productName" placeholder="{{'PRODUCT_NAME_PLH'|translate}}" ng-model="productDto.product.productName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-4 col-sm-4 col-sm-offset-1" for="productCode">{{"PRODUCT_CODE"|translate}}</label>
                    <div class="col-lg-6 col-md-7 col-sm-7">
                        <input type="number" class="form-control" id="productCode" placeholder="{{'PRODUCT_CODE_PLH'|translate}}" ng-model="productDto.product.productCode" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-4 col-sm-4 col-sm-offset-1" for="productCode">{{"LABEL_TXT"|translate}}</label>
                    <div class="col-lg-6 col-md-7 col-sm-7">
                        <input type="text" class="form-control" id="labelTxt" placeholder="{{'LABEL_TXT_PLH'|translate}}" ng-model="productDto.product.subModuleLable" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-4 col-sm-4 col-sm-offset-1" for="productCode">{{"DESCRIPTION"|translate}}</label>
                    <div class="col-lg-6 col-md-7 col-sm-7">
                        <textarea ui-tinymce="tinyMceOption" rows="8" cols="10" class="form-control" id="descriptionTxt" placeholder="{{'DESCRIPTION_PLH'|translate}}" ng-model="productDto.product.description" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-4 col-sm-4 col-sm-offset-1" for="productCode">{{"SUB_MODULE_TYPE"|translate}}</label>
                    <div class="col-lg-6 col-md-7 col-sm-7">
                        <label class="radio-inline" for="entryTypeDirect">
                            <input type="radio" name="entryTypeDirect" id="entryTypeDirect" value="EL" ng-model="productDto.product.subModuleType" ng-change="entryTypeChange('EL')" ng-disabled="isUpdate">{{'DIRECT_ENTRY'|translate}}
                        </label>
                        <label class="radio-inline" for="entryTypeChoice">
                            <input type="radio" name="entryTypeChoice" id="entryTypeChoice"  value="EP" ng-model="productDto.product.subModuleType" ng-change="entryTypeChange('EP')" ng-disabled="isUpdate">{{'CHOICE_ENTRY'|translate}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-md-7 col-sm-7 col-lg-offset-3 col-md-offset-5 col-sm-offset-5" ng-switch="productDto.product.subModuleType">
                        <div class="sub-module text-center" ng-switch-when="EL">
                            <span ng-bind-html="'DESCRIPTION_DIRECT_ENTRY' | translate"></span>
                        </div>
                        <div class="sub-module" ng-switch-when="EP">
                            <label>{{'CHOICE_TEXT'|translate}}</label>
                            <span class="btn btn-default pull-right" ng-click="addNewSubProduct()" title="{{'ADD_CHOICE'|translate}}"><i class="fa fa-plus" aria-hidden="true"></i></span>

                            <table class="table table-bordered table-striped" style="margin-top:15px;" ng-switch="productDto.subProducts.length">
                                <thead>
                                    <tr>
                                        <th>{{'NO'|translate}}</th>
                                        <th>{{'LABEL'|translate}}</th>
                                        <th>{{'VALUE'|translate}}</th>
                                        <th width="75"></th>
                                    </tr>
                                </thead>
                                <tbody ng-switch-default>
                                    <tr ng-repeat="subProduct in productDto.subProducts track by $index">
                                        <td class="text-center">{{$index+1}}</td>
                                        <td><input type="text" class="form-control" ng-model="subProduct.label" required id="label{{$index}}" name="label{{$index}}"></td>
                                        <td><input type="number" class="form-control" ng-model="subProduct.value" required id="value{{$index}}" name="value{{$index}}"></td>
                                        <td>
                                            <div class="btn btn-default" ng-click="deleteSubProduct(subProduct.id, $index)" ng-hide="productDto.subProducts.length <= 1" ng-show="$index > 0">
                                                <i class="fa fa-trash fa-lg"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody ng-switch-when="0">
                                    <tr>
                                        <td colspan="3" class="text-center" style="height:100px;padding-top:25px;">
                                            {{'DATA_NOT_YET_ADDED'|translate}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--Button Save!-->
                <div class="form-group">
                    <div class="col-lg-offset-3 col-md-offset-5 col-sm-offset-5">
                        <button class="btn btn-primary btn-md" type="submit" ng-disabled="registerForm.$invalid ||registerForm.$pristine ">{{isUpdate?"UPDATE":"SAVE"|translate}}</button>
                        <a ui-sref="^" class="btn btn-default">{{"CANCEL"|translate}}</a>
                    </div>
                </div>

            </form>
        </section>
    </div>
</div>