<div class="container-fluid">
    <div class="row-fluid">
        <section class="content-header" style="padding:15px">
            <div class="title-brand">
                <span id="root-title">{{'SCHOOL_MANAGEMENT'|translate}}</span> / <span class="child-title">{{(schoolId?'SCHOOL_DETAIL':'SCHOOL_ADD')|translate}}</span>
            </div>
        </section>
        <section class="content">
            <form class="form-horizontal" name="schoolForm" ng-submit="submitSchoolForm(school)" novalidate>
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-1" for="schoolName">Nama Sekolah</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="schoolName" placeholder="{{'SCHOOL_NAME_PLH'|translate|lowercase}}" ng-model="school.schoolName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-1" for="schoolAddress">{{'SCHOOL_ADDRESS'|translate}}</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" name="schoolAddress" id="schoolAddress" placeholder="{{'SCHOOL_ADDRESS_PLH'|translate|lowercase}}" cols="70" rows="7" ng-model="school.schoolAddress" required></textarea>
                    </div>
                </div>
                <!--Button Save!-->
                <div class="form-group">
                    <div class="col-md-offset-3 clos-md-6" style="padding:15px;">
                        <button class="btn btn-primary btn-md" type="submit" ng-disabled="schoolForm.$invalid">{{(schoolId?"UPDATE":"SAVE")|translate}}</button>
                        <a ui-sref="^" class="btn btn-default">{{"CANCEL"|translate}}</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>