.gradletasknamecache
.classpath
.project
.settings
.DS_Store
target/**
src/main/webapp/bower_components/**
.externalToolBuilders/**
.tern-project
.vscode
.gradle
bin
build
**.sass-cache
.idea/**
src/main/webapp/.idea/workspace.xml
out/**
src/main/java/id/co/knt/helpdesk/api/utilities/GeneratePasskey.java
gradle/wrapper/gradle-wrapper.properties
.gradletasknamecache
