<div class="login-container">
    <div class="login-form">
        <div class="login-title">{{'WELCOME'|translate}}</div>
        <form id="loginForm" name="loginForm" ng-submit="login()" autocomplete="off" novalidate>
            <div class="form-group login-group">
                <input name="username" class="form-control login-input" type="text" placeholder="{{'USERNAME_PLH'|translate}}" ng-model="model.username" ng-required="true">
            </div>
            <div class="form-group login-group">
                <input name="password" class="form-control login-input" type="password" placeholder="{{'PASSWORD_PLH'|translate}}" ng-model="model.password" autocomplete="new-password" ng-required="true">
            </div>
            <div class="form-group login-group">
                <button class="btn login-button pull-right" type="submit" ng-disabled="loginForm.$invalid || loginForm.$pristine">{{'LOGIN'|translate}}</button>
            </div>

        </form>
    </div>
    <div class="login-copyright">
        <strong>Copyright &copy; 2016 - {{fullYear}}, <a href="#">Kharisma Nusantara Teknologi Company</a></strong>
    </div>
</div>