<div class="container-fluid">
    <div class="row-fluid">
        <section class="content-header" style="padding:15px">
            <div class="title-brand">
                <span id="root-title">{{'PRODUCT_MANAGEMENT'|translate|uppercase}}</span> / <span class="child-title">{{'GENERATOR'|translate}}</span>
            </div>
        </section>
        <section class="content">
            <form class="form-horizontal" name="licenseGeneratorForm" ng-submit="submitLicenseGenerator(licenseGeneratorDTO)">
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-3" for="productName">{{"PRODUCT_NAME" |translate}}</label>
                    <div class="col-sm-4">
                        <ui-select ng-model="licenseGeneratorDTO.product" on-select="onSelected($item)">
                            <ui-select-match placeholder="{{'SELECT_PRODUCT'|translate}}">
                                <span ng-bind="$select.selected.productName"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="product in products |  propsFilter: {productName: $select.search}">
                                <span ng-bind="product.productName"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-3" for="licenseCount">{{"LICENSE_COUNT"|translate}}</label>
                    <div class="col-sm-4">
                        <input type="number" ng-model="licenseGeneratorDTO.licenseCount" class="form-control" id="licenseCount" placeholder="{{'LICENSE_COUNT_PLH'|translate}}" min="1">
                    </div>
                </div>
                <div class="form-group" ng-switch="licenseGeneratorDTO.product.subModuleType" ng-hide="!licenseGeneratorDTO.product" ng-show="licenseGeneratorDTO.product">
                    <label class="control-label col-sm-2 col-sm-offset-3" for="code">{{licenseGeneratorDTO.product.subModuleLable}}</label>
                    <div class="col-sm-4" ng-switch-default>
                        <input type="number" class="form-control" ng-model="licenseGeneratorDTO.subProducts[0].value" id="code" placeholder="{{'SECOND_PARAM_PLH'|translate}}" min="1">
                    </div>
                    <div class="col-sm-4" ng-switch-when="EP">
                        <div class="sub-product">
                            <div ng-repeat="subProduct in subProducts">
                                <label>
                                    <input type="checkbox" checklist-model="licenseGeneratorDTO.subProducts" checklist-value="subProduct">{{subProduct.label}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--{{licenseGeneratorDTO.subProduct}}-->

                <!--Description-->
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-2" for="licenseCount">{{"DESCRIPTION"|translate}}</label>
                    <div class="col-sm-9 col-sm-offset-2 description-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam id tortor nec sollicitudin. Donec pharetra ante non nisi efficitur sagittis. Aliquam id dolor pulvinar sapien auctor volutpat. Suspendisse ac pulvinar ante, convallis accumsan arcu. Sed consectetur aliquet nibh, eget mattis turpis. Ut odio nibh, tincidunt ut est et, euismod maximus odio. Donec fermentum vel arcu vel lobortis. In ac feugiat arcu, ac aliquam urna. Etiam quis tellus enim. Nunc quis accumsan orci.

                        Pellentesque quam risus, vulputate quis nunc ut, ornare tristique ex. Sed massa elit, consequat non tortor interdum, faucibus sollicitudin lectus. Sed mollis egestas quam, non semper lorem suscipit vel. Proin pulvinar tincidunt dui eu finibus. Cras commodo euismod accumsan. Nullam enim mauris, malesuada non condimentum sed, ullamcorper in risus. Suspendisse convallis lorem mauris, vitae dignissim erat pulvinar dictum. Phasellus elementum nibh sed nisl euismod hendrerit. Sed congue efficitur pretium. Fusce eu consequat massa. Vivamus eget mattis lorem. Curabitur tristique tincidunt ultricies. Nulla tempor luctus dolor nec tincidunt. Sed dictum, massa vitae venenatis imperdiet, nibh quam fringilla lacus, sed luctus risus arcu ac ex. Nam fermentum elit ut erat consectetur, in vehicula risus interdum. Nam eu finibus tellus.

                        Mauris ut dui sit amet nibh tincidunt laoreet a non mauris. Nulla blandit rutrum turpis, et feugiat justo commodo sed. Quisque facilisis nisi eu nisl ornare, quis finibus urna blandit. Pellentesque semper rutrum lorem, nec semper sapien venenatis sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque luctus non turpis sit amet hendrerit. Fusce lectus leo, efficitur ut nibh eu, posuere auctor tortor. Mauris vel arcu lobortis, sollicitudin neque sed, molestie sapien.

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam id tortor nec sollicitudin. Donec pharetra ante non nisi efficitur sagittis. Aliquam id dolor pulvinar sapien auctor volutpat. Suspendisse ac pulvinar ante, convallis accumsan arcu. Sed consectetur aliquet nibh, eget mattis turpis. Ut odio nibh, tincidunt ut est et, euismod maximus odio. Donec fermentum vel arcu vel lobortis. In ac feugiat arcu, ac aliquam urna. Etiam quis tellus enim. Nunc quis accumsan orci.

                        Pellentesque quam risus, vulputate quis nunc ut, ornare tristique ex. Sed massa elit, consequat non tortor interdum, faucibus sollicitudin lectus. Sed mollis egestas quam, non semper lorem suscipit vel. Proin pulvinar tincidunt dui eu finibus. Cras commodo euismod accumsan. Nullam enim mauris, malesuada non condimentum sed, ullamcorper in risus. Suspendisse convallis lorem mauris, vitae dignissim erat pulvinar dictum. Phasellus elementum nibh sed nisl euismod hendrerit. Sed congue efficitur pretium. Fusce eu consequat massa. Vivamus eget mattis lorem. Curabitur tristique tincidunt ultricies. Nulla tempor luctus dolor nec tincidunt. Sed dictum, massa vitae venenatis imperdiet, nibh quam fringilla lacus, sed luctus risus arcu ac ex. Nam fermentum elit ut erat consectetur, in vehicula risus interdum. Nam eu finibus tellus.

                        Mauris ut dui sit amet nibh tincidunt laoreet a non mauris. Nulla blandit rutrum turpis, et feugiat justo commodo sed. Quisque facilisis nisi eu nisl ornare, quis finibus urna blandit. Pellentesque semper rutrum lorem, nec semper sapien venenatis sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque luctus non turpis sit amet hendrerit. Fusce lectus leo, efficitur ut nibh eu, posuere auctor tortor. Mauris vel arcu lobortis, sollicitudin neque sed, molestie sapien.

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam id tortor nec sollicitudin. Donec pharetra ante non nisi efficitur sagittis. Aliquam id dolor pulvinar sapien auctor volutpat. Suspendisse ac pulvinar ante, convallis accumsan arcu. Sed consectetur aliquet nibh, eget mattis turpis. Ut odio nibh, tincidunt ut est et, euismod maximus odio. Donec fermentum vel arcu vel lobortis. In ac feugiat arcu, ac aliquam urna. Etiam quis tellus enim. Nunc quis accumsan orci.

                        Pellentesque quam risus, vulputate quis nunc ut, ornare tristique ex. Sed massa elit, consequat non tortor interdum, faucibus sollicitudin lectus. Sed mollis egestas quam, non semper lorem suscipit vel. Proin pulvinar tincidunt dui eu finibus. Cras commodo euismod accumsan. Nullam enim mauris, malesuada non condimentum sed, ullamcorper in risus. Suspendisse convallis lorem mauris, vitae dignissim erat pulvinar dictum. Phasellus elementum nibh sed nisl euismod hendrerit. Sed congue efficitur pretium. Fusce eu consequat massa. Vivamus eget mattis lorem. Curabitur tristique tincidunt ultricies. Nulla tempor luctus dolor nec tincidunt. Sed dictum, massa vitae venenatis imperdiet, nibh quam fringilla lacus, sed luctus risus arcu ac ex. Nam fermentum elit ut erat consectetur, in vehicula risus interdum. Nam eu finibus tellus.

                        Mauris ut dui sit amet nibh tincidunt laoreet a non mauris. Nulla blandit rutrum turpis, et feugiat justo commodo sed. Quisque facilisis nisi eu nisl ornare, quis finibus urna blandit. Pellentesque semper rutrum lorem, nec semper sapien venenatis sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque luctus non turpis sit amet hendrerit. Fusce lectus leo, efficitur ut nibh eu, posuere auctor tortor. Mauris vel arcu lobortis, sollicitudin neque sed, molestie sapien.

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam id tortor nec sollicitudin. Donec pharetra ante non nisi efficitur sagittis. Aliquam id dolor pulvinar sapien auctor volutpat. Suspendisse ac pulvinar ante, convallis accumsan arcu. Sed consectetur aliquet nibh, eget mattis turpis. Ut odio nibh, tincidunt ut est et, euismod maximus odio. Donec fermentum vel arcu vel lobortis. In ac feugiat arcu, ac aliquam urna. Etiam quis tellus enim. Nunc quis accumsan orci.

                        Pellentesque quam risus, vulputate quis nunc ut, ornare tristique ex. Sed massa elit, consequat non tortor interdum, faucibus sollicitudin lectus. Sed mollis egestas quam, non semper lorem suscipit vel. Proin pulvinar tincidunt dui eu finibus. Cras commodo euismod accumsan. Nullam enim mauris, malesuada non condimentum sed, ullamcorper in risus. Suspendisse convallis lorem mauris, vitae dignissim erat pulvinar dictum. Phasellus elementum nibh sed nisl euismod hendrerit. Sed congue efficitur pretium. Fusce eu consequat massa. Vivamus eget mattis lorem. Curabitur tristique tincidunt ultricies. Nulla tempor luctus dolor nec tincidunt. Sed dictum, massa vitae venenatis imperdiet, nibh quam fringilla lacus, sed luctus risus arcu ac ex. Nam fermentum elit ut erat consectetur, in vehicula risus interdum. Nam eu finibus tellus.

                        Mauris ut dui sit amet nibh tincidunt laoreet a non mauris. Nulla blandit rutrum turpis, et feugiat justo commodo sed. Quisque facilisis nisi eu nisl ornare, quis finibus urna blandit. Pellentesque semper rutrum lorem, nec semper sapien venenatis sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque luctus non turpis sit amet hendrerit. Fusce lectus leo, efficitur ut nibh eu, posuere auctor tortor. Mauris vel arcu lobortis, sollicitudin neque sed, molestie sapien.
                    </div>
                </div>

                <!--Button Save!-->
                <div class="form-group">
                    <div class="col-md-offset-4 cos-md-7" style="padding-left:15px;">
                        <button class="btn btn-primary btn-md" type="submit">{{"GENERATE"|translate}}</button>
                        <a ui-sref="^" class="btn btn-default">{{"CANCEL"|translate}}</a>
                    </div>
                </div>
            </form>
        </section>

        <!--<section class="content" ng-switch-when="switchToTable">
            <table class="table table-striped" st-table="generatedLicense" st-safe-rc="generatedLicense">
                <thead>
                    <tr>
                        <th>{{'NO'|translate}}</th>
                        <th>{{'SERIAL_NUMBER'|translate}}</th>
                        <th>{{'CREATED_DATE'|translate}}</th>
                        <th>{{'PRODUCT_NAME'|translate}}</th>
                        <th width="400">{{'SCHOOL'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="license in generatedLicense track by $index">
                        <td>{{($index+1)}}</td>
                        <td>{{license.license}}</td>
                        <td>{{license.createdDate|date:'dd/MM/yyyy'}}</td>
                        <td>{{license.product.productName}}</td>
                        <td width="400">
                            <ui-select ng-model="license.school">
                                <ui-select-match placeholder="{{'SELECT_SCHOOL'|translate}}">
                                    <span ng-bind="$select.selected.schoolName"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="school in schools |  propsFilter: {schoolName: $select.search}">
                                    <span ng-bind="school.schoolName"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            &lt;!&ndash;Button Save!&ndash;&gt;
            <div>
                <div class="clos-md-12" style="padding-left:15px;">
                    <button class="btn btn-primary btn-md" type="button" ng-click="registerGeneratedSN(generatedLicense)">{{"SAVE"|translate}} </button>
                    <button class="btn btn-default btn-md" type="button">{{"CANCEL"|translate}} </button>
                </div>
            </div>
        </section>-->
    </div>
</div>