<div class="container-fluid">
    <div class="row-fluid" ng-switch="switchGeneratorForm">
        <section class="content-header" style="padding:15px">
            <div class="title-brand">
                <span id="root-title">{{'KNT_PRODUCT'|translate}}</span> / <span class="child-title">{{'SCHOOL'|translate}}</span> / <span class="child-title">{{title|translate}}</span>
            </div>
        </section>
        <section class="content" ng-switch-default>
            <form class="form-horizontal" name="licenseGeneratorForm" ng-submit="submitLicenseGenerator(generator)">
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-1" for="productName">{{"PRODUCT_NAME" |translate}}</label>
                    <div class="col-sm-4">
                        <ui-select ng-model="generator.selectedProduct">
                            <ui-select-match placeholder="{{'SELECT_PRODUCT'|translate}}">
                                <span ng-bind="$select.selected.productName"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="product in products |  propsFilter: {productName: $select.search}">
                                <span ng-bind="product.productName"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-1" for="licenseCount">{{"LICENSE_COUNT"|translate}}</label>
                    <div class="col-sm-4">
                        <input type="number" ng-model="generator.licenseCount" class="form-control" id="licenseCount" placeholder="{{'LICENSE_COUNT_PLH'|translate}}" min="1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-1" for="code">{{"SECOND_PARAM"|translate}}</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" ng-model="generator.secondParam" id="code" placeholder="{{'SECOND_PARAM_PLH'|translate}}" min="1">
                    </div>
                </div>
                <!--Button Save!-->
                <div class="form-group">
                    <div class="col-md-offset-3 clos-md-4" style="padding-left:15px;">
                        <button class="btn btn-primary btn-md" type="submit">{{"SAVE"|translate}}</button>
                    </div>
                </div>
            </form>
        </section>
        <section class="content" ng-switch-when="swictToTable">
            <table class="table table-striped" st-table="generatedLicense" st-safe-rc="generatedLicense">
                <thead>
                    <tr>
                        <th>{{'NO'|translate}}</th>
                        <th>{{'SERIAL_NUMBER'|translate}}</th>
                        <th>{{'CREATED_DATE'|translate}}</th>
                        <th>{{'PRODUCT_NAME'|translate}}</th>
                        <th width="400">{{'SCHOOL'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="license in generatedLicense track by $index">
                        <td>{{($index+1)}}</td>
                        <td>{{license.license}}</td>
                        <td>{{license.createdDate|date:'dd/MM/yyyy'}}</td>
                        <td>{{license.product.productName}}</td>
                        <td width="400">
                            <ui-select ng-model="license.school">
                                <ui-select-match placeholder="{{'SELECT_SCHOOL'|translate}}">
                                    <span ng-bind="$select.selected.schoolName"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="school in schools |  propsFilter: {schoolName: $select.search}">
                                    <span ng-bind="school.schoolName"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <!--Button Save!-->
            <div>
                <div class="col-md-offset-3 clos-md-4" style="padding-left:15px;">
                    <button class="btn btn-primary btn-md" type="button">{{"SAVE"|translate}} </button>
                    <button class="btn btn-default btn-md" type="button">{{"CANCEL"|translate}} </button>
                </div>
            </div>
        </section>
    </div>
</div>