@charset "UTF-8";
.login-form {
  margin: 25vh auto 0px auto;
  width: 50%;
  min-height: 100px; }
.login-title {
  text-align: center;
  color: white;
  font-size: 24pt;
  font-family: Arial, Helvetica, sans-serif; }
.login-input {
  width: 100%;
  height: 50px;
  background: none;
  border-color: white;
  margin: 15px auto !important;
  font-size: 14pt; }
  .login-input, .login-input:focus, .login-input:hover, .login-input:active {
    border-radius: 5px !important;
    color: white; }
  .login-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75); }
  .login-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.75); }
.login-group {
  padding: 0px 25%; }
.login-container {
  background: url("../../images/main-bg.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
.login-copyright {
  position: fixed;
  bottom: 25px;
  text-align: center;
  width: 100%;
  color: white !important; }
  .login-copyright a {
    color: white !important; }
  .login-copyright-v2 {
    text-align: center;
    margin-top: 5vh;
    color: white !important; }
    .login-copyright-v2 a {
      color: white !important; }
.login-checkbox {
  width: 20px;
  height: 20px; }
  .login-checkbox-label {
    color: white;
    font-size: 13pt;
    font-weight: 100; }
.login-button {
  width: 48%;
  font-size: 18pt;
  line-height: 18pt;
  background: #44C2EB;
  margin-right: 1%; }
  .login-button:hover, .login-button:focus, .login-button:active, .login-button {
    border: 1px solid white;
    color: white; }
  .login-button:active {
    transform: scale(0.9, 0.9); }

/* Base for label styling */
[type="checkbox"].login-checkbox:not(:checked),
[type="checkbox"].login-checkbox:checked {
  position: absolute;
  left: -9999px; }

[type="checkbox"].login-checkbox:not(:checked) + label,
[type="checkbox"].login-checkbox:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer; }

/* checkbox aspect */
[type="checkbox"].login-checkbox:not(:checked) + label:before,
[type="checkbox"].login-checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background: none;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }

/* checked mark aspect */
[type="checkbox"].login-checkbox:not(:checked) + label:after,
[type="checkbox"].login-checkbox:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px;
  left: 4px;
  font-size: 20px;
  line-height: 0.8;
  color: black;
  transition: all .2s; }

/* checked mark aspect changes */
[type="checkbox"].login-checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

[type="checkbox"].login-checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1); }

/* disabled checkbox */
[type="checkbox"].login-checkbox:disabled:not(:checked) + label:before,
[type="checkbox"].login-checkbox:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: none; }

[type="checkbox"].login-checkbox:disabled:checked + label:after {
  color: #999; }

[type="checkbox"].login-checkbox:disabled + label {
  color: #aaa; }

/* accessibility */
[type="checkbox"].login-checkbox:checked:focus + label:before,
[type="checkbox"].login-checkbox:not(:checked):focus + label:before {
  border: 1px dotted rgba(0, 0, 255, 0.5); }

.admin-dash {
  background: url("../../images/main-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  padding: 2.5% 1.5% 10px 1.5%; }
  .admin-dash-menu {
    background: rgba(128, 128, 128, 0.75);
    margin-top: 20px;
    transition: ease-in-out .1s;
    border-radius: 5px;
    padding-top: 50px;
    height: 200px;
    text-align: center; }
    .admin-dash-menu:hover {
      transform: scale(1.075, 1.075);
      cursor: pointer;
      cursor: hand; }
    .admin-dash-menu:active {
      transform: scale(0.9, 0.9); }
    @media (min-width: 61.9375em) and (max-width: 75em) {
      .admin-dash-menu {
        padding-top: 30px;
        height: 150px; } }
    .admin-dash-menu .label {
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 50px;
      width: 100%;
      font-size: 12pt;
      font-family: Arial, Helvetica, sans-serif; }
.admin-color-dark-blue {
  background: #5C7CCE !important; }
.admin-color-dark-red {
  background: #C46570 !important; }
.admin-color-dark-green {
  background: #539B56 !important; }
.admin-color-purple {
  background: #BD7BC2 !important; }
.admin-color-brown {
  background: #BC845E !important; }
.admin-color-blue {
  background: #6EAFCC !important; }
.admin-color-green {
  background: #8CC94B !important; }
.admin-color-yellow {
  background: #B9C14D !important; }

.img-dash {
  width: 80px;
  height: auto; }
  @media (min-width: 61.9375em) and (max-width: 75em) {
    .img-dash {
      width: 60px; } }

.user-panel {
  height: 40px; }
  .user-panel > a > img {
    height: 25px;
    width: auto;
    text-align: center; }

.content-wrapper .content {
  padding: 0px !important; }

.logo {
  position: relative; }

.logo .sidebar-toggle {
  position: absolute;
  right: 15px;
  top: 2px;
  padding: 0px !important;
  color: rgba(255, 255, 255, 0.5); }
  .logo .sidebar-toggle:hover {
    color: white; }

hr {
  border: 1px solid rgba(128, 128, 128, 0.75); }

.click-able, .cst-button, .item-box:hover {
  cursor: pointer;
  cursor: hand; }

.sidebar-img {
  width: 20px;
  height: auto; }

.footer {
  position: absolute;
  bottom: 0px;
  background: rgba(68, 194, 234, 0.9);
  padding: 5px 15px;
  border-left: 1px solid rgba(54, 127, 169, 0.75);
  border-top: 1px solid rgba(68, 194, 234, 0.75);
  color: rgba(0, 0, 0, 0.5) !important;
  font-size: 10pt;
  font-style: italic;
  width: 100%; }
  .footer a {
    color: white; }

.cst-button {
  color: #44C2EA; }
  .cst-button:hover {
    transform: scale(1.5, 1.5);
    color: #367fa9; }
  .cst-button:active {
    transform: scale(1, 1); }

.table-title {
  font-size: 18pt;
  font-weight: bold;
  color: gray; }

.form-horizontal .control-label {
  /* text-align:right; */
  text-align: left; }

.cst-border-top {
  border-top: 2px solid grey;
  padding-top: 15px; }

.item-box {
  width: 100%;
  height: 25vh;
  max-height: 25vh;
  background-color: transparent;
  padding: 15px 10px;
  margin: 10px auto;
  position: relative;
  text-align: center; }
  .item-box:hover {
    background-color: #383D3F; }
  .item-box:active {
    transform: scale(0.9, 0.9); }
  .item-box img {
    width: 35%;
    height: auto; }
  .item-box .label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    font-size: 12pt; }

.modal-header-custom, .modal-body-custom {
  background-color: #44C2EA !important;
  color: white !important;
  font-weight: bold; }
.modal-header-custom {
  font-size: 16pt; }
  .modal-header-custom img {
    width: 25px;
    height: auto; }
  .modal-header-custom .cst-button {
    color: white !important; }

.content-wrapper {
  background: white !important; }

.st-sort-ascent:after {
  content: '\25B2';
  color: #44C2EA; }
.st-sort-descent:after {
  content: '\25BC';
  color: #44C2EA; }

.sidebar-collapse .cst-margin-left {
  margin-left: -5px !important; }
.sidebar-collapse .cst-margin-top {
  margin-top: -7.5px !important; }

.cst-divider {
  border-top: 2px solid white;
  margin: 50px auto 5px 7.5% !important;
  width: 85%; }

.filter-width {
  max-width: 250px; }

.empty-data {
  height: 20vh;
  text-align: center; }
  .empty-data td {
    padding-top: 7.5vh !important; }
    .empty-data td p {
      font-size: 16pt;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: rgba(128, 128, 128, 0.75); }
    .empty-data td a {
      margin-top: 25px;
      font-size: 12pt; }

textarea {
  resize: none; }

.content-wrapper .content .row {
  padding: 0px 15px 50px 15px !important; }

.about {
  margin-top: 5vh;
  font-size: 12pt;
  font-weight: bold;
  color: #367fa9; }
  .about-website img {
    height: 40px;
    width: auto;
    margin: 10px;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222); }
    .about-website img:hover {
      transform: scale(1.25, 1.25); }
  .about-desc {
    color: rgba(128, 128, 128, 0.85); }

.skin-blue .main-sidebar {
  padding-top: 50px;
  background: #179fcb; }

.skin-blue .main-header .navbar {
  margin-left: 0px;
  background: #127b9d; }

.sidebar-mini.sidebar-collapse .main-header .navbar {
  margin-left: 0px; }

.knt-logo {
  width: 200px;
  padding: 5px 5px; }
  .knt-logo > img {
    text-align: center;
    -moz-box-shadow: drop-shadow(2.5px 2.5px 2.5px #222);
    -webkit-filter: drop-shadow(2.5px 2.5px 2.5px #222);
    filter: drop-shadow(2.5px 2.5px 2.5px #222);
    width: 100%;
    height: auto; }

.title-brand {
  padding-bottom: 10px;
  border-bottom-width: 5px;
  border-bottom-style: double;
  border-bottom-color: rgba(128, 128, 128, 0.75);
  color: #0f6986; }
  .title-brand #root-title {
    font-size: 13pt;
    font-weight: bold; }
  .title-brand .child-title {
    font-size: 12pt; }
  .title-brand #title-big {
    font-size: 16pt;
    font-weight: bold; }

.snFilter {
  width: 100%;
  height: 50px;
  margin: 15px 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5); }
  .snFilter > form > #searchText {
    width: 400px; }

input.ng-dirty.ng-invalid {
  border: 1.5px solid red; }
input.ng-dirty.ng-valid {
  border: 1.5px solid greenyellow; }

.data-not-found {
  text-align: center;
  height: 100px;
  padding-top: 35px !important;
  font-size: 16px;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.5); }

.sub-module {
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 100%;
  min-height: 10vh;
  padding: 15px; }

/*# sourceMappingURL=styles.css.map */
