<div class="container-fluid">
    <div class="row-fluid">
        <section class="content-header" style="padding:15px">
            <div class="title-brand">
                <span id="root-title">{{'KNT_PRODUCT'|translate}}</span> / <span class="child-title">{{'SCHOOL'|translate}}</span> / <span class="child-title">{{title|translate}}</span>
            </div>
        </section>
        <section class="content">
            <form class="form-horizontal" name="schoolRegisterForm" ng-submit="submitProductForm(product)">
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-1" for="productName">{{"PRODUCT_NAME" |translate}}</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="productName" placeholder="{{'PRODUCT_NAME_PLH'|translate}}" ng-model="product.productName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-1" for="productCode">{{"PRODUCT_CODE"|translate}}</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="productCode" placeholder="{{'PRODUCT_CODE_PLH'|translate}}" ng-model="product.productCode">
                    </div>
                </div>
                <!--Button Save!-->
                <div class="form-group">
                    <div class="col-md-offset-3 clos-md-6">
                        <button class="btn btn-primary btn-md" type="submit">{{isUpdate?"UPDATE":"SAVE"|translate}}</button>
                        <a ui-sref="^" class="btn btn-default">{{"CANCEL"|translate}}</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>